<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>后台管理系统</title>
<link href="/pay-admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/pay-admin/css/londinium-theme.min.css" rel="stylesheet"
	type="text/css">
<link href="/pay-admin/css/styles.min.css" rel="stylesheet" type="text/css">
<link href="/pay-admin/css/icons.min.css" rel="stylesheet" type="text/css">


<script type="text/javascript" src="/pay-admin/js/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/jquery/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/charts/sparkline.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/uniform.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/select2.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/inputmask.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/autosize.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/inputlimit.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/listbox.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/multiselect.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/validate.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/tags.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/forms/switch.min.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/forms/uploader/plupload.full.min.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/forms/uploader/plupload.queue.min.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/interface/daterangepicker.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/interface/fancybox.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/interface/prettify.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/interface/moment.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/interface/jgrowl.min.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/interface/datatables.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/plugins/interface/colorpicker.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/interface/fullcalendar.min.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/interface/timepicker.min.js"></script>
<script type="text/javascript"
	src="/pay-admin/js/plugins/interface/collapsible.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/pay-admin/js/application.js"></script>
<script type="text/javascript" src="/pay-admin/js/Chart.min.js"></script>
  <style type="text/css">
      body, h1, h2, h3, h4, h5, h6 {
        margin:0px;
        padding:0px;
      }
      .container {
        max-width:1020px;
        margin:0 auto;
        margin-bottom:80px;
      }
      .chart-wrapper {
      background:#fff;
       padding: 15px;
       max-width:1020px;
       margin:0px auto 0px auto;
       box-sizing:border-box;
       /*如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容。*/
       overflow:auto;
      }
      h2 {
          margin:20px 0px;
      }
      .chart-wrapper canvas {

        min-width: 100%;

        height: 260px;

    }
      .chart-title, .chart-wrapper + small {

        margin-left: 15px;

    }

  </style>
</head>
<body class="sidebar-wide">

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		 
		
		


<a class="navbar-brand" href="/pay-admin/">
	<img id="headerLogoImg" >
</a>

<script>
var hostName = location.hostname;
if('mgr.citywemedia.cn'==hostName){
	document.getElementById("headerLogoImg").setAttribute("src", "/pay-admin/images/logo_citywemedia.png");
}else{
	document.getElementById("headerLogoImg").setAttribute("src", "/pay-admin/images/logo.png");
}
</script>
		
			<a class="sidebar-toggle"><i
			class="icon-paragraph-justify2"></i></a>
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#navbar-icons">
			<span class="sr-only">Toggle navbar</span><i class="icon-grid3"></i>
		</button>
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".sidebar">
			<span class="sr-only">Toggle navigation</span><i
				class="icon-paragraph-justify2"></i>
		</button>
	</div>
	<ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
		<li class="user dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"><img src="/pay-admin/images/demo/users/default_avatar.jpg"
				alt="">
            <span>
                <%= session["nickname"] %>
            </span>
				<i class="caret"></i>
			</a>
		<ul class="dropdown-menu dropdown-menu-right icons-right">
				<li><a href="../profile/profile"><i class="icon-user"></i>
						个人资料</a></li>
				<li><a href="../password/password"><i class="icon-lock"></i>
						修改密码</a></li>
				<li><a href="../login/login"><i class="icon-exit"></i>
						注销</a></li>
			</ul></li>
	</ul>
</div>

<!-- /navbar -->



	<!-- Page container -->
	<div class="page-container">

		












<div class="sidebar collapse">
	<div class="sidebar-content">

		<div class="user-menu dropdown">
			<a href="#"><img src="/pay-admin/images/demo/users/default_avatar.jpg" 
				alt="">
			<div class="user-info">
					<%= session["nickname"] %><span>管理员</span>
				</div></a>
		</div>


		<!-- Main navigation -->
		<ul class="navigation navigation-icons-left"">
			
		
			<li >
				<a href="#" class="expand" id='second-level'><span>CP应用相关</span>
					<i class="icon-grid"></i></a>
			<ul>
			
				<li><a href="../myappList/myapplist" >我的应用列表</a></li>
			
				<li><a href="#" >我的平台列表</a></li>


				<li><a href="/pay-admin/example/signExample" >签名工具</a></li>
			
			</ul>
			</li>
			
		  <li>
                <a href="#" class="expand" id="second-level">
                    <span>数据查询</span>
                    <i class="icon-grid"></i>
                </a>
                <ul>
                     <li><a href="../alllist/alllist">统计</a></li>
                    <li><a href="../payGameInfo/payGameInfo" >订单查询</a></li>
                </ul>
		    </li>

			<li >
				<a href="#" class="expand" id='second-level'><span>个人中心</span>
					<i class="icon-grid"></i></a>
			<ul>
			
				<li><a href="../profile/profile" >个人信息</a></li>
			
				<li><a href="../index/index" >首页</a></li>
			
			</ul>
			</li>
			
		</ul>
		<!-- /main navigation -->
	</div>
</div>

		<!-- Page content -->
		<div class="page-content">
			<!-- Page header -->
			<div class="page-header">
				<div class="page-title">
					<h3>
				     我的支付信息统计
						<!-- 
						<small>Headings, lists, code, pre etc. </small>
						 -->
					</h3>
				</div>
			</div>
			<!-- /page header -->
			<!-- Breadcrumbs line -->
			<div class="breadcrumb-line">
				<ul class="breadcrumb">
					<li><a href="../home/index.html">首页</a></li>
					<li class="active">支付信息统计</li>
				</ul>
				<div class="visible-xs breadcrumb-toggle">
					<a class="btn btn-link btn-lg btn-icon" data-toggle="collapse"
						data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
				</div>
			</div>
			<!-- /breadcrumbs line -->
			
			<div class="callout callout-info fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h5>功能介绍</h5>
				<p>
				</p>
			</div>
		<div class="container">
            <h2 class="chart-title">游戏的总价格趋势</h2>
            <div class="chart-wrapper">
                <canvas id="sales-volume-chart"></canvas>
                <small>单位:元</small>
            </div>
		</div>	
         <div class="container">
            <h2 class="chart-title">游戏的总人数趋势</h2>
            <div class="chart-wrapper">
                <canvas id="count-number"></canvas>
                <small>单位:个</small>
            </div>
		</div>	

        <script type="text/javascript">
            function lineChart() {
                var ctx = document.getElementById('sales-volume-chart').getContext("2d");
                var labelResult = "<%= option %>";
                var priceRestult= "<%=list%>";
                labelResult = labelResult.split(",");
                priceRestult = priceRestult.split(",");
                var data = {
                    // labels: ["2016-04", "2016-05", "2016-06"],
                    labels: labelResult,
                    datasets: [{
                        label: "",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(0,102,51,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#339933",
                        pointHighlightFill: "#339933",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        // data: [125, 950, 115]
                        data:priceRestult
                    }]
                };
                var allPriceChart = new Chart(ctx).Line(data, {
                    // 折线的曲线过渡，0是直线，默认0.4是曲线
                    tooltipCornerRadius: 0,
                    bezierCurveTension: 0,
                    // 关闭曲线功能
                    bezierCurve: false,
                    scaleOverride: true,
                    scaleSteps: 9.5,
                    scaleStepWidth:100,
                    scaleStartValue:0
                });
            }
            setTimeout(function () {
                lineChart();
            }, 0)
            function lineChart1() {
                var ctx = document.getElementById('count-number').getContext("2d");
                var labResult = "<%= option0 %>";
                var sumResult = "<%= lit %>";
                labResult = labResult.split(",");
                sumResult = sumResult.split(",");
                var data = {
                    labels: labResult,
                    datasets: [{
                        label: "",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(0,102,51,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#339933",
                        pointHighlightFill: "#339933",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: sumResult
                    }]
                };
                var allcountChart = new Chart(ctx).Line(data, {
                    // 折线的曲线过渡，0是直线，默认0.4是曲线
                    tooltipCornerRadius: 0,
                    bezierCurveTension: 0,
                    // 关闭曲线功能
                    bezierCurve: false,
                    scaleOverride: true,
                    scaleSteps: 9.5,
                    scaleStepWidth:5,
                    scaleStartValue: 0
                });
            }
            setTimeout(function () {
                lineChart1();
            }, 0)
        </script>
 <div class="footer clearfix">
	<div class="pull-right icons-group">
		<a href="javascript:void(0)"><i class="icon-screen2"></i></a> <a
			href="javascript:void(0)"><i class="icon-balance"></i></a> <a
			href="javascript:void(0)"><i class="icon-cog3"></i></a>
	</div>
</div>
</body>
</html>
